In [15]:
import pandas
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [9]:
dataset = [['Milk', 'Onion', 'Apple', 'Kidney Beans', 'Eggs', 'Yogurt'],
            ['Banana', 'Onion', 'Apple', 'Kidney Beans', 'Eggs', 'Yogurt'],
            ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
            ['Milk', 'Ice cream', 'Corn', 'Kidney Beans', 'Yogurt'],
            ['Corn', 'Apple', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [10]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pandas.DataFrame(te_ary, columns=te.columns_)
df

   Apple  Banana   Corn   Eggs  Ice cream  Kidney Beans   Milk  Onion  Yogurt
0   True   False  False   True      False          True   True   True    True
1   True    True  False   True      False          True  False   True    True
2   True   False  False   True      False          True   True  False   False
3  False   False   True  False       True          True   True  False    True
4   True   False   True   True       True          True  False   True   False

In [24]:
frequent_itemset = apriori(df, min_support=0.8, use_colnames=True)
frequent_itemset

   support                     itemsets
0      0.8                      (Apple)
1      0.8                       (Eggs)
2      1.0               (Kidney Beans)
3      0.8                (Apple, Eggs)
4      0.8        (Apple, Kidney Beans)
5      0.8         (Eggs, Kidney Beans)
6      0.8  (Apple, Kidney Beans, Eggs)

In [23]:
rules = association_rules(frequent_itemset, metric='confidence', min_threshold=0.85)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Apple),(Eggs),0.8,0.8,0.8,1.0,1.25,0.16,inf
1,(Eggs),(Apple),0.8,0.8,0.8,1.0,1.25,0.16,inf
2,(Apple),(Kidney Beans),0.8,1.0,0.8,1.0,1.00,0.00,inf
3,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.0,1.00,0.00,inf
4,"(Apple, Kidney Beans)",(Eggs),0.8,0.8,0.8,1.0,1.25,0.16,inf
5,"(Apple, Eggs)",(Kidney Beans),0.8,1.0,0.8,1.0,1.00,0.00,inf
6,"(Eggs, Kidney Beans)",(Apple),0.8,0.8,0.8,1.0,1.25,0.16,inf
7,(Apple),"(Eggs, Kidney Beans)",0.8,0.8,0.8,1.0,1.25,0.16,inf
8,(Eggs),"(Apple, Kidney Beans)",0.8,0.8,0.8,1.0,1.25,0.16,inf