In [1]:
import pandas
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
df = pandas.read_csv('../105OK.csv', usecols=range(10))
df.drop('Unnamed: 0', axis=1, inplace=True)
data = df.copy()
data

,Access,CT du lieu,CT may tinh,CNXHKH,Chuyen de,CS du lieu,Cong nghe NET,CNphan mem,Dai so so hoc
0,True,True,True,True,True,True,False,True,True
1,True,True,True,True,True,True,False,True,True
2,True,True,True,True,True,True,False,True,True
3,True,True,True,True,True,True,False,True,True
4,True,True,True,True,True,True,False,True,True
...,...,...,...,...,...,...,...,...,...
94,False,True,True,True,True,True,True,True,True
95,False,True,True,True,True,True,True,True,True
96,False,True,True,True,True,True,True,True,True
97,False,True,True,True,True,True,True,True,True
98,False,False,False,False,False,False,False,False,False

In [26]:
data.isnull().sum()

Access            0
CT du lieu        0
CT may tinh       0
CNXHKH            0
Chuyen de         0
CS du lieu        0
Cong nghe NET     0
CNphan mem        0
Dai so so hoc     0
dtype: int64

In [3]:
frequent_itemset = apriori(data, min_support=0.5, use_colnames=True)
frequent_itemset

      support                                           itemsets
0    0.525253                                           (Access)
1    0.989899                                       (CT du lieu)
2    0.979798                                      (CT may tinh)
3    0.989899                                           (CNXHKH)
4    0.979798                                       (Chuyen de )
..        ...                                                ...
250  0.515152  (CT may tinh, Access, Dai so so hoc, CT du lie...
251  0.515152  (Access, CNXHKH, Dai so so hoc, CT du lieu, Ch...
252  0.515152  (CT may tinh, Access, CNXHKH, Dai so so hoc, C...
253  0.979798  (CT may tinh, CNXHKH, Dai so so hoc, CT du lie...
254  0.515152  (CT may tinh, Access, CNXHKH, Dai so so hoc, C...

[255 rows x 2 columns]

In [4]:
rules = association_rules(frequent_itemset, metric='confidence', min_threshold=0.1)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Access),(CT du lieu),0.525253,0.989899,0.525253,1.000000,1.010204,0.005306,inf
1,(CT du lieu),(Access),0.989899,0.525253,0.525253,0.530612,1.010204,0.005306,1.011419
2,(Access),(CT may tinh),0.525253,0.979798,0.515152,0.980769,1.000991,0.000510,1.050505
3,(CT may tinh),(Access),0.979798,0.525253,0.515152,0.525773,1.000991,0.000510,1.001098
4,(Access),(CNXHKH),0.525253,0.989899,0.525253,1.000000,1.010204,0.005306,inf
...,...,...,...,...,...,...,...,...,...
6045,(Dai so so hoc),"(CT may tinh, Access, CNXHKH, CT du lieu, Chuy...",0.989899,0.515152,0.515152,0.520408,1.010204,0.005204,1.010961
6046,(CT du lieu),"(CT may tinh, Access, CNXHKH, Dai so so hoc, C...",0.989899,0.515152,0.515152,0.520408,1.010204,0.005204,1.010961
6047,(Chuyen de ),"(CT may tinh, Access, CNXHKH, Dai so so hoc, C...",0.979798,0.515152,0.515152,0.525773,1.020619,0.010407,1.022398
6048,(CNphan mem),"(CT may tinh, Access, CNXHKH, Dai so so hoc, C...",0.989899,0.515152,0.515152,0.520408,1.010204,0.005204,1.010961
6049,(CS du lieu),"(CT may tinh, Access, CNXHKH, Dai so so hoc, C...",0.989899,0.515152,0.515152,0.520408,1.010204,0.005204,1.010961